#For vscode
.vscode/

#for cmake
out/

#for version control
includes/config.h

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
